@import url('https://fonts.googleapis.com/css2?family=Borel&family=Montserrat:wght@100;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&family=Roboto:wght@100&family=Rubik:wght@500&family=Simonetta&display=swap');      
        
        /*==================
                BASIC CSS 
            ====================*/

@font-face {
    font-family: 'cooper';
    src: url(./fonts/CooperLtBTLight.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#body::selection{
    color: var(--primary-color);
}

html{
    font-size: 62.5%;
}

:root{
    --primary-color: #00EB8F;
    --white-color: #ffffff;
    --black-color: #000;
    --primary-text-color: #262626;
    --secondary-text-color: #0f0f0f;
    --helper-color: #8C8C8C;
}

li{
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

a{
    color: var(--secondary-text-color);
    font-size: 1.6rem;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 6.5rem;
    color: var(--primary-text-color);
    font-family: cooper;
}

h2{
    font-size: 5rem;
    font-weight: 500;
    color: var(--primary-text-color);
    font-family: cooper;
}

h3{
    font-size: 3.2rem;
    color: var(--primary-text-color);
    font-family: cooper;
}

h4{
    font-size: 2.5rem;
    color: var(--primary-text-color);
    font-family: cooper;
}

p{
    font-size: 1.8rem;
    color: var(--secondary-text-color);
    font-family: 'Poppins', sans-serif;
}



        /*==================
                UTILITY CLASSES
            ====================*/

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary-btn{
    padding: 0.8rem 2.2rem;
    border-radius: 50rem;
    border: 1px solid var(--helper-color);
    gap: 1rem;
    transition:0.5s all linear;
    position: relative;
    outline: none;
    overflow: hidden;
    z-index: 5;
}

.primary-btn > ion-icon{
    font-size: 2.2rem;
    z-index: 5;
}

.primary-btn > span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: var(--primary-color);
    transition: 0.5s all ease-out;
    z-index: -1;
}

.primary-btn:hover span{
    width: 100%;
}


        /*==================
                HEADER PART
            ====================*/

#header{
    width: 100%;
    height: 12vh;
    justify-content: space-between;
    padding: 0 4vw;
    position: fixed;
    background-color: var(--white-color);
    z-index: 999;
}

.logo > h3 > span{
    color: var(--primary-color);
}

.logo > h3{
    font-weight: 400;
    transition: 0.3s all linear;
    cursor: pointer;
}

.logo > h3:hover{
    scale: 0.95;
    color: var(--helper-color);
}

.navbar-list{
    gap: 5rem;
}

.navbar-list > li > a{
    position: relative;
}

.navbar-list > li > a::after{
    content: "";
    position: absolute;
    bottom: -10%;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: var(--primary-color);
    transition: 0.3s all linear;
}

.navbar-list > li > a:hover::after{
    width: 100%;
}


        /*==================
                HERO SECTION
            ====================*/


.hero-section{
    flex-direction: column;
    min-height: 100vh;
}

.hero-section > h1{
    font-weight: 500;
    width: 50%;
    text-align: center;
}

.hero-section > img{
    width: 20%;
}

.special-btn {
    gap: 2rem;
    margin-top: 2rem;
}

.special-btn > a{
    font-size: 2rem;
}

.special-btn > .primary-btn{
    padding: 0rem 3rem;
}

.hero-img-1{
    position: absolute;
    top: 25%;
    left: 6%;
}

.hero-img-2{
    position: absolute;
    top: 12%;
    right: 25%;
}

.hero-img-3{
    position: absolute;
    bottom: 5%;
    right: 10%;
}

.hero-section > .hero-img{
    transition: 0.5s all ease;
}

.hero-section > .hero-img:hover{
    transform: translateY(-8px);
}

        /*==================
                ABOUT SECTION
            ====================*/

.about{
    width: 100%;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--black-color);
    padding: 6rem 0;
}

.about > h4{
    font-weight: 200;
    font-size: 2rem;
    color: var(--white-color);
}

.about > h4 > span{
    font-size: 8rem;
    color: var(--primary-color);
    margin-right: 0.5rem;
}

.about > h2{
    color: var(--white-color);
    text-align: center;
    width: 60%;
    font-size: 400;
    font-weight: 500;
}

.about > .special-btn > a{
    color: var(--white-color);
}

        /*==================
            LEARN MORE SECTION
            ====================*/


.learn-more{
    width: 100%;
}

.learn-more > .left{
    min-height: 70vh;
    width: 50%;
    gap: 3rem;
}

.learn-more > .left > .col1{
    flex-direction: column;
    min-height: inherit;
    width: 30%;
    gap: 3rem;
}

.learn-more > .left > .col1 > .img1{
    width: 100%;
}

.learn-more > .left > .col1 > .img2{
    width: 100%;
}

.learn-more > .left > .col2{
    flex-direction: column;
    min-height: inherit;
    width: 70%;
    gap: 3rem;
    align-items: flex-start;
    justify-content: space-between;
}

.learn-more > .left > .col2 > .img1{
    width: 80%;
}

.learn-more > .left > .col2 > .img2{
    width: 100%;
}



.learn-more > .right{
    min-height: 50vh;
    width: 50%;
    flex-direction: column;
    gap: 2rem;
}

.learn-more > .right > h2{
    font-size: 5rem;
    font-weight: 500;
    width: 70%;
}

.learn-more > .right > p{
    width: 70%;
}


.learn-more > .right > .learn > img{
    width: 12%;
    border-radius: 50rem;
}

.learn{
    gap: 2rem;
    justify-content: flex-start;
    width: 70%;
}

.learn > h4{
    font-size: 2.2rem;
    font-weight: 500;
}

        /*==================
            PARTNERS SECTION
            ====================*/

.partnereds{
    margin: 10rem 0;
    flex-direction: column;
    gap: 10rem;
}

.partnereds > h2{
    text-align: center;
    width: 70%;
}

.partners{
    padding: 0 6vw;
    flex-wrap: wrap;
    gap: 8rem;
}

.partners > img{
    width: 15rem;
}

        /*==================
            WORK SECTION
            ====================*/

.work{
    margin-top: 20rem;
    width: 100%;
    justify-content: space-evenly;
}

.work > .left{
    width: 40%;
    flex-direction: column;
    height: 35rem;
    overflow: hidden;
    position: relative;
    transition: 0.5s all linear;
}

.work > .left > .overlay{
    height: 100%;
    width: 100%;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 3rem;
    align-items: flex-start;
    justify-content: space-evenly;
    cursor: pointer;
    transition: 0.5s all linear;
}

.work > .left > .overlay > h3 , .work > .left > .overlay > .special-btn > a{
    color: var(--white-color);
    font-weight: 100;
}

.work > .left > .overlay > h3{
    margin-top: 3rem;
    width: 70%;
}

.work > .left > .overlay > .special-btn >  .primary-btn{
    border: 1px solid var(--white-color);
}

.work > .left > .overlay > img{
    width: 25%;
}

.work > .left > img{
    height: 100%;
    width: 100%;
    filter: brightness(70%);
    transition: 0.5s all linear;
}

.work > .right{
    width: 40%;
    flex-direction: column;
    height: 35rem;
    overflow: hidden;
    position: relative;
    transition: 0.5s all linear;
}

.work > .right > .overlay{
    height: 100%;
    width: 100%;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 3rem;
    align-items: flex-start;
    justify-content: space-evenly;
    cursor: pointer;
    transition: 0.5s all linear;
}

.work > .right > .overlay > h3 , .work > .right > .overlay > .special-btn > a{
    color: var(--white-color);
    font-weight: 100;
}

.work > .right > .overlay > h3{
    width: 70%;
    margin-top: 3rem;
}

.work > .right > .overlay > .special-btn >  .primary-btn{
    border: 1px solid var(--white-color);
}


.work > .right > .overlay > img{
    width: 25%;
}

.work > .right > img{
    height: 100%;
    width: 100%;
    filter: brightness(60%);
    position: absolute;
    transition: 0.5s all linear;
}

.work > .right:hover.right > img{
    scale: 1.2;
}

.work > .left:hover.left > img{
    scale: 1.2;
}


.work-ending{
    padding: 5rem 0;
    gap: 2rem;
}

.work-ending > h4{
    font-weight: 500;
}

.work-ending > img{
    width: 5rem;
    border-radius: 50%;
}

        /*==================
            DETAILS SECTION
            ====================*/

.details{
    margin: 10rem 0;
    padding: 3rem 0;
}

.swiper{
    width: 100%;
    height: 100%;
    padding: 6rem 0;
}

.swiper-slide{
    height: 100%;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
}

.swiper-slide > img{
    width: 10rem;
}

.swiper-slide > h2{
    font-weight: 500;
    margin-top: 2rem;
    width: 60%;
}

.swiper-slide > h4{
    font-size: 1.8rem;
    font-weight: 100;
    text-align: center;
}

.swiper-slide > h4 > span{
    font-size: 5rem;
    font-weight: 100;
    color: var(--primary-color);
}

.company-name{
    color: var(--helper-color);
}

.swiper-button-next , .swiper-button-prev{
    color: var(--primary-color);
}

.swiper .swiper-pagination-bullet{
    background-color: var(--primary-color);
    width: 1rem;
    height: 1rem;
}



        /*==================
            FOOTER SECTION
            ====================*/

#footer > .call{
    width: 80%;
    position: relative;
    margin: auto;
}

.call > img{
    width: 100%;
    height: 100%;
    filter: brightness(40%);
}

.call > .overlay{
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    padding: 5rem 0;
}

.call > .overlay > h3{
    width: 70%;
    font-weight: 500;
    color: var(--white-color);
    text-align: center;
}

.call > .overlay > .work-ending > h4 , .call > .overlay > .work-ending > a{
    color: var(--white-color);
}

.main-footer{
    background-color: var(--black-color);
    margin-top: -15%;
    padding-top: 25%;
}

.main-footer > .row{
    justify-content: space-around;
    gap: 5rem;
    padding: 0 10rem 5rem 10rem;
    align-items: flex-start;
}

.main-footer > .row > .col1{
    flex-direction: column;
    align-items: flex-start;
    min-height: 100%;
}

.main-footer > .row > .col1 > h2{
    font-size: 4.5rem;
    color: var(--white-color);
    width: 60%;
}

.main-footer > .row > .col1 > .special-btn > a{
    color: var(--white-color);
}

.main-footer > .row > .col2{
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.main-footer > .row > .col2 > h4{
    color: var(--white-color);
    margin-bottom: 2rem;
    font-weight: 500;
}

.main-footer > .row > .col2 > a{
    color: var(--helper-color);
    position: relative;
}

.main-footer > .row > .col3{
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.main-footer > .row > .col3 > h4{
    color: var(--white-color);
    margin-bottom: 2rem;
    font-weight: 500;
}

.main-footer > .row > .col3 > a{
    color: var(--helper-color);
    position: relative;
}

.main-footer > .row > .col4{
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.main-footer > .row > .col4 > h4{
    color: var(--white-color);
    margin-bottom: 2rem;
    font-weight: 500;
}

.main-footer > .row > .col4 > a{
    color: var(--helper-color);
    position: relative;
}

.main-footer > .row > .col5{
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.main-footer > .row > .col5 > h4{
    color: var(--white-color);
    margin-bottom: 2rem;
}

.main-footer > .row > .col5 > a{
    color: var(--helper-color);
}

.main-footer > .row > .col5 > img{
    width: 10rem;
}

.main-footer > .line{
    width: calc(100% - 10rem);
    margin: auto;
    height: 1px;
    background: var(--helper-color);
}

.main-footer > .row > .col2 >a::after , .main-footer > .row > .col3 >a::after , .main-footer > .row > .col4 >a::after{
    content: "";
    position: absolute;
    bottom: -10%;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: #00EB8F;
    transition: 0.3s all linear;
}

.main-footer > .row > .col2 >a:hover::after , .main-footer > .row > .col3 >a:hover::after , .main-footer > .row > .col4 >a:hover::after{
    width: 100%;
}


.closing{
    width: 100%;
    justify-content: space-around;
}

.closing > .logo > h3{
    color: var(--white-color);
}

.closing > .center{
    gap: 1rem;
}

.closing > .center > a{
    position: relative;
}

.closing > .center > p , .closing > .center > a{
    font-size: 1.4rem;
    color: var(--helper-color);
    font-weight: 300;
}

.closing > .center > a::after{
    content: "";
    position: absolute;
    bottom: -10%;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #00EB8F;
    transition: 0.2s all linear;
}

.closing > .center > a:hover::after{
    width: 100%;
}

.closing > .end{
    padding: 3rem 0;
    gap: 1rem;
}

.closing > .end > p{
    font-size: 1.4rem;
    color: var(--helper-color);
    font-weight: 300;
}



.closing > .end > ion-icon{
    font-size: 2rem;
    color: var(--white-color);
    cursor: pointer;
    transition: 0.2s all linear;
}

.closing > .end > ion-icon:hover{
    color: var(--primary-color);
}


